{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="page-head-line">{% trans "Please Login To Enter" %}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% get_providers as socialaccount_providers %}
        {% for provider in socialaccount_providers %}
          <a title="{{provider.name}}" class="btn btn-social btn-{{provider.name|lower}} {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><i class="fa fa-{{provider.name|lower}}"></i>&nbsp;{{provider.name|capfirst}} Account</a>
        {% endfor %}
        <hr />
        <h4> Or Login with <strong>AlbertaTrades Account  :</strong></h4>
        <br />
        {% if not form.is_valid and form.non_field_errors.as_text %}
          <div class="alert alert-danger">{{form.non_field_errors.as_text}}</div>
        {% endif %}
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <label>Enter Email ID : </label>
          <input type="text" placeholder="Username or e-mail" name="login" id="id_login" class="form-control">
          {% if not form.is_valid and form.errors.login.as_text %}
            <div class="alert alert-danger">{{form.errors.login.as_text}}</div>
          {% endif %}
          <label>Enter Password :  </label>
          <input type="password" class="form-control" placeholder="Password" name="password" id="id_password">
          {% if not form.is_valid and form.errors.password.as_text %}
            <div class="alert alert-danger">{{form.errors.password.as_text}}</div>
          {% endif %}
          <label for="id_remember">Remember Me:</label>
          <input type="checkbox" name="remember" id="id_remember">
          <hr />
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a class="btn btn-info" href="{% url 'account_reset_password' %}"><span class="glyphicon glyphicon-lock"></span>{% trans "Forgot Password?" %}</a>
          <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-user"></span> &nbsp;{% trans "Sign In" %}</button>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
{% endblock %}
