{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="page-head-line">{% trans "Change Password" %}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <hr />
        <form class="login password_change" method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          <label for="id_password1">New Password:</label>
          <input type="password" placeholder="New Password" name="password1" id="id_password1" class="form-control">
          {% if not form.is_valid and form.errors.password1.as_text %}
            <div class="alert alert-danger">{{form.errors.password1.as_text}}</div>
          {% endif %}
          <label for="id_password2">New Password (again):</label>
          <input type="password" placeholder="New Password (again)" name="password2" id="id_password2" class="form-control">
          {% if not form.is_valid and form.errors.password2.as_text %}
            <div class="alert alert-danger">{{form.errors.password2.as_text}}</div>
          {% endif %}
          <hr />
          <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-lock"></span> &nbsp;{% trans "Change Password" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
