/* =============================================================
   GENERAL STYLES
 ============================================================ */

@import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

body {
    font-family: 'proxima-nova', sans-serif !important;
    line-height: 30px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'proxima-nova', sans-serif;
}
.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 10px;
    min-height: 600px;
    padding-bottom: 10px;
}
hr{
    margin: 10px 0;
}
.page-head-line {
    font-weight: 900;
    padding-bottom: 15px;
    border-bottom: 2px solid #A8A4A0;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.progress {
    height: 8px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.login-icon {
    /*height: 60px;*/
width: 60px;
padding: 13px;
border-radius: 50%;
font-size: 30px;
/*margin-bottom: 20px;*/
color: #fff;
text-align: center;
cursor:pointer;
background-color:#A8A4A0;
-webkit-border-radius:50%;
    -moz-border-radius:50%;
}
/* =============================================================
   HEADER SECTION STYLES
 ============================================================ */
header {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}


#job_listing_filter label input {
  display: inherit;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* =============================================================
   LOGO SECTION STYLES
 ============================================================ */
.left-div {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
    padding-top: 30px;
}

/* USER SETTINGS DIV */
.user-settings-wrapper .nav > li > a {
    border-radius: 50%;
    color: #000;
    display: block;
    height: 33px;
    margin-top: 11px;
    padding: 7px 10px 0;
    position: relative;
    width: auto;
}

.user-settings-wrapper {
    float: left;
    line-height: 40px;
    margin-left: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 205px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #E6E6E6!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        /*border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;*/
    }

    /*.user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }*/

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

/* MENU LINKS SECTION*/

.menu-section {
    background-color: #A8A4A0;
}

#menu-top a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
}

.menu-top-active {
    background-color: #A8A4A0;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #625E5A!important;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #625E5A!important;
}

.navbar-inverse {
    background-color: #625E5A;
    border-color: transparent;
}

.navbar-toggle {
    background-color: #625E5A;
    border: 1px solid #fff;
}

.navbar {
    margin-bottom: 0px;
}
/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
footer {
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#query {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 218px;
}

#location {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 128px;
}

/*==============================================
    DASHBOARD  STYLES    
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one {
    background-color: #B9B739;
}

.bk-clr-two {
    background-color: #F94C4C;
}

.bk-clr-three {
    background-color: #119c7e;
}

.bk-clr-four {
    background-color: #b739b9;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

    .dashboard-div-wrapper .progress {
        height: 2px;
    }

/* NOTICE BOARD */


.notice-board .panel {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.notice-board ul {
    padding-left: 0px;
    list-style: none;
}

.notice-board li {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

    .notice-board li span {
        margin-right: 10px;
        border: 1px solid #DBDBDB;
        padding: 5px;
    }

    .notice-board li a, li a:hover {
        text-decoration: none;
        color: #000;
    }

/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}

table.dataTable tbody th, table.dataTable tbody td{
    padding: 2px 10px !important;
}
.footer{clear: both; margin: 0px auto; text-align: center;}
.login{line-height: 54px; font-weight:bold;}
.search-form{float: left; line-height: 54px;}
.search-btn{margin-left: 15px;}
.logo{line-height: 60px; color: rgb(0, 0, 0); font-size: 25px;}
.btn-round-border{border-radius: 6px !important; -moz-border-radius: 6px!important; -webkit-border-radius: 6px!important;}
